{%  extends 'feewaiver/email/base_email.html' %}

{%  block content %}
{% if status == 'approved' %}
    <p>Fee Waiver Request <strong>{{feewaiver.lodgement_number}}</strong> has been {{status}}{% if feewaiver.processing_status == 'issued' %}.{% else %}for a concession entry fee.{% endif %}
    Please ensure a copy of the attached approval document is on hand for every vehicle entering and 
    presented to staff at the park entry station or upon request to obtain the concession.
    </p>
{% else %}
    <p>
    Unfortunately your fee waiver request <strong>{{feewaiver.lodgement_number}}</strong> has been declined as your visit was not applicable 
    for a fee waiver under the department's guidlines. However, members of your group may wish to 
    consider purchasing a park pass, which provide several value-for-money options for visiting parks with entry fees.
    </p>
    <p>
    Information on park passes is available at: <a href='https://parks.dpaw.wa.gov.au/know/park-passes'>https://parks.dpaw.wa.gov.au/know/park-passes.</a>
    </p>
{% endif %}
{%  endblock %}
